.game {
    display: flex;
    justify-content: center;
}

.column {
    list-style-type: none;
    display: inline-block;
}

.column button {
    outline: none;
    border: none;
    background-color: white;
}

.tile {
    height: 128px;
    width: 128px;
    border: 1px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: -1px;
}