body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
}

.game {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.arrow {
    height: 150px;
    width: 150px;
    position: relative;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -115px;
    z-index: 2;
}

.arrow-invisible {
    height: 150px;
    width: 150px;
    position: relative;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -115px;
    z-index: 2;
    visibility: hidden;
}

.eval-box {
    height: 772px;
    width: 20px;
    border: 1px solid black;
    margin-top: 56px;
    margin-right: -24px;
    background-color: yellow;
}

.blank-box {
    height: 772px;
    width: 20px;
    border: 1px solid black;
    margin-top: 56px;
    margin-right: -24px;
}

.eval-red {
    background-color: red;
    transition: height 1s;
}

.menu {
    font-size: 34px;
}

.container h1 {
    margin: -10px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: lightblue;
    text-align: center;
}

.menu button {
    font-size: 24px;
    background-color: lightgreen;
    border-radius: 10px;
}

.menu button:hover {
    font-size: 24px;
    background-color: #67e267;
    border-radius: 10px;
}

.column-1 {
    width: 25%;
}

.column-2 {
    width: 75%;
}

.column-2 h2 {
    text-align: center;
    margin-left: 40px;
}

.analysis {
    margin-top: 20%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    max-height: 32%;
}

.analysis li {
    list-style-type: none;
}

.column {
    list-style-type: none;
    display: inline-block;
}

.column button {
    outline: none;
    border: none;
    background-color: lightskyblue;
}

.analysis-button {
    font-size: 28px;
    width: 150px;
    background-color: lightskyblue;
    background-color: lightgreen;
}

.analysis-button-highlighted {
    font-size: 28px;
    width: 150px;
    background-color: #67e267;
    font-weight: bolder;
    box-shadow: 0 0 0px 3px black inset;
}

.tile {
    height: 128px;
    width: 128px;
    outline: 1px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -22px;
    margin-right: -29px;
}

.tile-red {
    height: 128px;
    width: 128px;
    outline: 1px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -22px;
    margin-right: -29px;
    background-color: red;
    border-radius: 50%;

}

.tile-yellow {
    height: 128px;
    width: 128px;
    outline: 1px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -22px;
    margin-right: -29px;
    background-color: yellow;
    border-radius: 50%;
}

.tile-red-highlighted {
    height: 128px;
    width: 128px;
    outline: 1px solid black;
    box-shadow: 0 0 0px 4px black inset;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -22px;
    margin-right: -29px;
    background-color: red;
    border-radius: 50%;
}

.tile-yellow-highlighted {
    height: 128px;
    width: 128px;
    outline: 1px solid black;
    box-shadow: 0 0 0px 4px black inset;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -22px;
    margin-right: -29px;
    background-color: yellow;
    border-radius: 50%;
}