.game {
    display: flex;
    justify-content: center;
}

.column {
    list-style-type: none;
    display: inline-block;
}

.column button {
    outline: none;
    border: none;
    background-color: white;
}

.tile {
    height: 127px;
    width: 128px;
    outline: 1px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -25px;
    margin-right: -25px;
}

.tile-red {
    height: 127px;
    width: 128px;
    outline: 1px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -25px;
    margin-right: -25px;
    background-color: red;
    border-radius: 50%;
}

.tile-yellow {
    height: 127px;
    width: 128px;
    outline: 1px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -25px;
    margin-right: -25px;
    background-color: yellow;
    border-radius: 50%;
}

.tile-red-highlighted {
    height: 127px;
    width: 128px;
    outline: 3px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -25px;
    margin-right: -25px;
    background-color: red;
    border-radius: 50%;
}

.tile-yellow-highlighted {
    height: 127px;
    width: 128px;
    outline: 3px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -25px;
    margin-right: -25px;
    background-color: yellow;
    border-radius: 50%;
}