body {
    background-color: #7AF5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
}

.game {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 74px;
}

.arrow {
    height: 150px;
    width: 150px;
    position: relative;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -115px;
    z-index: 2;
}

.invisible {
    visibility: hidden;
}

.eval-box {
    height: 773px;
    width: 20px;
    border: 1px solid black;
    margin-top: 129px;
    margin-right: -24px;
    margin-left: 2px;
    background-color: yellow;
}

.blank-box {
    height: 773px;
    width: 20px;
    border: 1px solid black;
    margin-top: 129px;
    margin-right: -24px;
    margin-left: 2px;
}

.eval-red {
    background-color: red;
    transition: height 1s;
}

.menu {
    font-size: 34px;
}

.container h1 {
    margin: -10px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #78D5E3;
    text-align: center;
}

.menu button {
    font-size: 24px;
    background-color: #89E894;
    border-radius: 10px;
}

.menu button:hover {
    font-size: 24px;
    background-color: #67e267;
    border-radius: 10px;
}

.column-1 {
    width: 25%;
}

.column-2 {
    width: 75%;
    display: flex;
    justify-content: center;
}

.column-2 h2 {
    position: absolute;
    text-align: center;
    margin-left: 40px;
}

.analysis {
    margin-top: 20%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    max-height: 32%;
}

.analysis li {
    list-style-type: none;
}

.column {
    list-style-type: none;
    display: inline-block;
}

.column button {
    outline: none;
    border: none;
    background-color: #7AF5F5;
}

.analysis-button {
    font-size: 28px;
    width: 150px;
    background-color: #7AF5F5;
    background-color: lightgreen;
}

.analysis .highlighted {
    background-color: #67e267;
    font-weight: bolder;
    box-shadow: 0 0 0px 3px black inset;
}

.tile {
    height: 128px;
    width: 128px;
    outline: 1px solid black;
    font-size: 64px;
    text-align: center;
    margin-top: 1px;
    margin-left: -22px;
    margin-right: -29px;
    position: relative;
}

.column .red::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    animation: drop 0.25s ease-in;
}

.column .yellow::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    animation: drop 0.25s ease-in;
}

@keyframes drop {
    from {
        transform: translateY(-50vh);
    }
    to {
        transform: translateY(0vh);
    }
}

.column .highlighted::before {
    box-shadow: 0 0 0px 4px black inset;
}

.dark-mode {
    position: fixed;
    background-color: black;
    color: white;
    font-size: 34px;
    border-radius: 50%;
    border: none;
    bottom: 10px;
}